.f1{
    display: flex;
    align-items: center;
    font-size: large;
}
.f1-item{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.f2{
    line-height: 1.5em;
    text-align: center;
    text-indent: 50px;
    border: 1px solid; 
    height: 1350px;
    width: 50%;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}
.f3{
    text-align: left;
    font-weight: bold;
}
.f4{
    display: flex;
    justify-content: left;
    align-items: flex-start;

}
.f5{
    display: flex;
    font-weight: 800;
}
.f6{
    display: flex;
    align-items: flex-start;
    border: 1px solid;
    line-height: normal;
    width: 20%;
    border-radius: 30px;
    justify-content: left;
    color: aqua;
    

}
.f7{

    display: flex;
    justify-content: left;
    padding-left: 0%;
    border: 1px solid;
    color: rgb(5, 5, 5);
    line-height: normal;
    width: 15%;
    border-radius: 40px;
    justify-content: center;
    background-color: aquamarine;
    


}
.f7{
    align-items: center;
    justify-content: center;
    width:30%;
    background-color: azure;
}
.f7-item{
    display: flex;
    align-items: center;
    border: 1px em;
    color: rgb(8, 8, 8);
    width: 20%;
    background-color: aqua;
    border-radius: 40px;
}
.f8{
    display: grid;
    justify-content: space-evenly;
    align-items: center;

}
.f9{
    display: contents;
    justify-content: center;
    
}
.f10{
    display: flex;
}