.item-1{
    
display: flex;
justify-content: center;
border-radius: 20px;

}
.ns-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(217, 247, 247);

}
.ns-2{
    display: flex;
    justify-content: center;
    
}
.ns-2:hover{
    transform: scale(1.6);
}
.ns-3{
    display: flex;
    justify-content: center;
}
.ns-6{
    display: flex;
    justify-content: left;
    align-items: normal;
    flex-direction: row;
}
.ns-7{
    height: 60px;
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: beige;
    flex-direction: row-reverse;
    border-radius: 100px;
    box-sizing: content-box;

}
.ns-8{
    height: 60px;
    width: 10%;
    display: flex;
    justify-content: left;
    background-color: beige;
    flex-direction: row-reverse;
    border-radius: 100px;
    box-sizing: content-box;

    
}